/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    opacity: 0; /* Initially hide the h1 */
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/* Slide-up animation for canvas */
canvas {
    animation: slideUp 0.2s ease-out;
}

@keyframes dropIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply drop-in animation to h1 */
#title {
    animation: dropIn 0.5s ease-out forwards; /* Animation forwards keeps the end state */
}

/* Slide-up animation keyframes */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Responsive styles for mobiles and tablets */
@media only screen and (max-width: 768px) { /* Adjust font size for smaller screens */
    h1 {
        font-size: 24px; /* Decrease font size for tablets */
    }

    .footer {
        margin-top: 10px; /* Adjust margin top for smaller screens */
        font-size: 14px; /* Decrease font size for tablets */
    }
}

@media only screen and (max-width: 480px) { /* Further adjust font size for even smaller screens */
    h1 {
        font-size: 20px; /* Decrease font size for mobile devices */
    }

    .footer {
        margin-top: 5px; /* Further adjust margin top for smaller screens */
        font-size: 12px; /* Decrease font size for mobile devices */
    }
}
