.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .searchButton, .pagination button {
    padding: 10px 20px;
    background-color: #376dbd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:focus, .pagination button:focus {
    outline: none;
  }
  
  table, th, td {
    border: 1px solid #918b8b;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #c2c0c0;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  input[type="text"], select {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
  }
  
  /* Responsive Styles */
  
 
  @media only screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
    
    input[type="text"], select {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

  @media only screen and (max-width: 480px) {
    input[type="text"], select {
      padding: 6px;
    }
  }
  