/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: wh;
    padding: 0;
}

#chart-container {
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
    margin: 20px auto;
}

h1{
    text-align: center;
}

.bar {
    fill: steelblue;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    #chart-container {
        max-width: 100%;
    }
}
